/* COMPONENTS */

/* chip */
.chip {
    text-align: center;
    padding: .25rem .5rem;
    border-radius: 2rem;
    border: 1px solid gray;
    background-color: rgba(147, 147, 147, 0.4);
}

/* card */
.card {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
}

.card:hover .card__content {
    opacity: 1;
    visibility: visible;
}

.card:hover img {
    filter: brightness(.5);
}

.card img {
    object-fit: cover;
    aspect-ratio: 2/3;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    transition: all ease-in-out .5s;
    z-index: 0;
}

.card .chip {
    width: fit-content;
}

.card__content {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    width: 100%;
    position: absolute;
    inset: 0;
    justify-content: flex-end;
    visibility: hidden;
    opacity: 0;
    transition: all ease-in-out .3s;
    padding: 2rem;
    z-index: 1;
}


/* breadcrumb */
.breadcrumb {
    display: flex;
    gap: .5rem;
}

.breadcrumb li:not(:last-child)::after {
    content: "/";
    margin-left: 4px;
}

/* section-cards */
.s-cards__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
}

/* section-hero */
.s-hero {
    border-radius: 2rem;
    position: relative;
    width: 100%;
    overflow: hidden;
    z-index: 0;
    aspect-ratio: 16/9;
}

.s-hero img {
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    object-fit: cover;
    filter: brightness(.5);
}

.s-hero h1 {
    margin: 0;
}

.s-hero .chip {
    width: fit-content;
}

.s-hero__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 2rem;
    gap: 1rem;
    position: absolute;
    inset: 0;
    z-index: 1;
}

/* section-text */
.s-text {
    border-radius: 2rem;
    border: 1px solid gray;
    padding: 3rem 2rem;
    background-color: rgb(25, 25, 25);
}