@view-transition {
    navigation: auto;
}

#title {
    view-transition-name: title;
}

::view-transition-group(*) {
  animation-duration: .5s;  
}

::view-transition-group(root) {
    animation: none;
}

#card-image, #hero-image {
    view-transition-name: picture;
}

::view-transition-old(picture),
::view-transition-new(picture) {
    animation: auto;
    mix-blend-mode: normal;
    height: 100%;
}

#to::view-transition-new(picture) {
    object-fit: cover;
    overflow: hidden;
}

#from::view-transition-new(picture) {
    object-fit: contain;
    border-radius: 1rem;
}

#from::view-transition-new(picture) {
    object-fit: cover;
    overflow: hidden;
}

::view-transition-old(title) {
    opacity: 0;
}

#overlay {
    view-transition-name: overlay;
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
}

@keyframes fade-out {
    to {
        opacity: 0;
    }
}

::view-transition-new(overlay) {
    animation: 250ms cubic-bezier(0, 0, 0.3, 1) both fade-in;
    animation-delay: 0.5s;
}

::view-transition-old(overlay) {
    animation: 50ms cubic-bezier(0.3, 0, 1, 1) both fade-out;
}

::view-transition-group(overlay) {
    overflow: hidden;
}